body {
    max-width: 100%;
}

h1{
    text-align: center;
}

#submit-placement {
    display: flex;
}

#input-fields {
    column-count: 1;
}

#submit-button {border-radius: 12px;
    float:right;
}

.delete-employee{
    border-radius: 12px;
}



#monthly-cost-label {
    display: inline;
}

#monthly-cost-value {
    display:inline;
}

#id1234 {
background-color: aqua;
}

/* Base styles from w3schools */
tr:nth-child(even) {background-color: #f2f2f2;}
