body {
    max-width: 50%;
}

h1{
    text-align: center;
}

#submit-button {
    float: right;
}

input {
    max-width: 15%;
}

table {
    padding:20px;
}

#monthly-cost-label {
    display: inline;
}

#monthly-cost-value {
    display:inline;
}

#id1234 {
background-color: aqua;
}